/* Global */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
  --bgcolor: white;
  --bgcolor-dark: #0b192f;

  --primary: #85e7ca;
  --primary-muted: #85e7ca7c;

  --secondary: limegreen;

  --blue: rgb(74, 174, 255);
  --blue-muted: rgba(74, 174, 255, 0.2);

  --purple: rgb(82, 5, 134);
  --purple-muted: rgba(82, 5, 134, 0.26);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 60px;
}

body {
  margin: 0;
  background-color: var(--bgcolor);
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
  font-size: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  /* 28px to 36px */
  font-size: clamp(1.75rem, calc(1.58rem + 0.87vw), 2.25rem);
  margin-block: 2rem;
}

/* h3 {
  font-size: clamp();
  margin-block: 0;

} */

* .container {
  /* border: solid blue 3px; */
  /* width: calc(100% - 200px);
    max-width: 1000px; */
  width: min(70rem, 100% - 4rem);

  /* margin-right: auto;
    margin-left: auto; */
  margin-inline: auto;

  padding-block: 10px;
}

.button-link {
  background-color: var(--primary);
  padding: 14px 16px;
  border-radius: 8px;
  color: black !important;
  text-decoration: none;

  transition: background-color 0.4s ease;
}

.button-link:hover,
.button-link:focus {
  background-color: var(--secondary);
}

header,
#intro,
#skills,
#github,
footer {
  background-color: var(--bgcolor-dark);
  color: white;
}

header a,
#intro a,
#skills a,
#github a,
footer a {
  color: var(--primary);
}

/*  Accessibility ------------------ */

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  color: black;
  margin-inline: auto;
  font-size: 0.875rem;
  transform: translateY(-120%);
}

.skip-to-content:focus {
  transform: translateY(0);
  transition: transform 250ms ease-in;
  background-color: transparent;
  color: black;
}

/* Header */

header {
  position: sticky;
  top: 0;
  z-index: 9999;

  border-bottom: solid rgba(128, 128, 128, 0.311);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}

#my-name {
  font-size: 28px;
  font-weight: 600;
}

header .button-link {
  padding: 8px 10px;
}

.menu-toggle {
  display: none;
}

/* DESKTOP NAV */

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a:not(.button-link) {
  color: white;
  font-weight: 600;
}

/* MOBILE NAV */

@media (max-width: 40rem) {
  .menu-toggle {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    z-index: 99999;

    /* hamburger styles */
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 12px 2px;
  }

  /* set button span to pos relative */
  .menu-toggle span {
    position: relative;
  }
  /* create before & after pseudo elements */
  .menu-toggle span::before,
  .menu-toggle span::after {
    position: absolute;
    content: '';
    left: 0;

    transform: rotate(0deg);
    transition: all 0.2s ease;
  }

  /* style menu lines */
  .menu-toggle span,
  .menu-toggle span::before,
  .menu-toggle span::after {
    display: inline-block;
    width: 26px;
    height: 2px;
    background-color: rgb(0, 0, 0);
  }
  /* position top menu line */
  .menu-toggle span::before {
    margin-top: -8px;
  }

  /* position bottom menu line */
  .menu-toggle span::after {
    margin-top: 8px;
  }
  /* active */
  /* hide button span */
  nav.open .menu-toggle span {
    background-color: transparent;
  }

  /* default position for before & after pseudo elements (overlapping in the center of the button) */
  nav.open .menu-toggle span::before,
  nav.open .menu-toggle span::after {
    margin-top: 0;
  }
  /* rotate top menu line */
  nav.open .menu-toggle span::before {
    transform: rotate(45deg);
  }
  /* rotate bottom menu line */
  nav.open .menu-toggle span::after {
    transform: rotate(-45deg);
  }

  nav ul {
    display: none;
  }

  nav.open ul {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--bgcolor-dark);
    width: 100vw;
    height: 100vh;
    z-index: 99998;

    position: fixed;
    inset: 0;
  }
}

/* Intro */

#intro {
  text-align: center;
  /* padding-top: 100px;
    padding-bottom: 100px; */
  padding-block: 100px;

  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.726),
      rgba(54, 54, 54, 0.685)
    ),
    url('BGpic.jpg');
  background-size: cover;
}

#intro .container > * {
  margin-top: 10px;
}

h1 {
  font-size: clamp(2.25rem, 4.5vw, 4rem);
  margin: 0;
}

h1 + p {
  font-size: clamp(1.25rem, calc(0.9rem + 1.74vw), 2.25rem);
}

/* Animation */

.text-box {
  /* border: solid red 1px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.text-content {
  /* border: solid blue 1px; */

  display: inline-block;
  transform: translateY(120%);

  /* animation: slideUp ease 1s;
  animation-fill-mode: forwards; */
}

@keyframes slideUp {
  to {
    transform: translateY(0%);
  }
}

@keyframes hueRotate {
  0% {
    background-color: var(--primary);
  }
  20% {
    background-color: limegreen;
  }
  60% {
    background-color: dodgerblue;
  }
  80% {
    background-color: plum;
  }
  100% {
    background-color: var(--primary);
  }
}

.contact:hover,
.contact:focus {
  animation: hueRotate ease 5s;
  animation-iteration-count: infinite;
}

/* Skills */

#skills ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* #skills li {
  display: flex;
  align-items: center;
  gap: 10px;
} */

@media (min-width: 34rem) {
  #skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}

/* Github */

#github .container {
  border-top: solid var(--primary-muted) 1px;
  padding-block: 40px 80px;
}

#reposContainer {
  display: grid;
  gap: 20px 40px;
}

@media (min-width: 46rem) {
  #reposContainer {
    grid-template-columns: 1fr 1fr;
  }
}

.repo-info {
  border: solid var(--primary-muted) 1px;
  padding: 14px 20px;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content auto max-content max-content;
  gap: 10px 30px;

  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

/* .repo-info h3,
.repo-info p.desc {
  grid-column: 1 / 3;
} */

.repo-info h3 {
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;

  hyphens: auto;
}

.repo-info p.desc {
  margin-bottom: 14px;
  font-size: 14px;
}

.repo-info ul {
  list-style: none;
  /* flexbox */
  display: flex;
  /* align items center */
  align-items: center;
  /* gap between elements ~8px */
  gap: 8px;
}

/* a[href^=#1] {
  border: solid red 10px;

} */

.repo-info ul[id^='language'] li {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--blue);
  background-color: var(--blue-muted);
  /* display: inline-block; */
  justify-self: start;
  padding: 5px 11px;
  border-radius: 30px;
}

.repo-info a {
  font-size: 14px;
  justify-self: end;
}

/* Portfolio */

#portfolio {
  padding-block: 40px 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 40px;
}

@media (min-width: 30rem) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.grid-container img {
  aspect-ratio: 1.4;
  object-fit: cover;
  border: solid white 1px;
  border-radius: 10px;

  /* x, y, blur, spread, color */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.grid-container h3 {
  margin-block: 30px;
}

/* selects every paragraph that has a <br /> tag immediately following */
/* p:has(+ br) {
  color: rgb(77, 77, 77);
} */

/* pseudo element */

article h3 {
  position: relative;
}

article h3::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 3px;
  background-color: var(--primary);
  bottom: -10px;
  left: 0;
}

/* add lists to html */
/* style to look like github tags */
/* add variables for purple and purple-muted */
/* change the background-color/border & text color */

/* SEPARATE STYLING & STRUCTURE */

article ul {
  list-style: none;
  /* flexbox */
  display: flex;
  /* align items center */
  align-items: center;
  /* gap between elements ~8px */
  gap: 8px;

  margin-bottom: 20px;
}

article li {
  font-size: 12px;
  color: var(--purple);
  text-transform: uppercase;

  padding: 5px 11px;
  border: var(--purple-muted) solid 1px;
  border-radius: 30px;
}

/* CTA */

#cta .container {
  background-color: var(--primary);

  padding: 40px 60px 50px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);

  margin-bottom: -80px;
  position: relative;
}

#cta img {
  width: 60px;
}

#cta a {
  display: inline-flex;
  background-color: white;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  border-radius: 8px;
  border: var(--purple) solid 2px;

  color: var(--purple);
  font-weight: 600;
  margin-inline: 4px;
  margin-top: 20px;
}

#cta i {
  font-size: 20px;
}

/* Footer */

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  padding-block: 140px 50px;
}
